@keyframes blinking {
    0%   { opacity: .5; }
    50%  { opacity: 1; }
    100% { opacity: .5; }
}

.Table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  width: 300px;
  height: 400px;
  margin: 0 50px;
  background-color: #006400;
  color: #fff;
}

.Table__header {
  text-transform: uppercase;
}

.Table_round {
  border-radius: 24%;
  background-color: #556b2f;
}

.Table_rectangular {
  width: 200px;
  height: 400px;
}

.Table_warning {
  animation: blinking 1.1s infinite linear;
}

.Table__chairList {
  display: flex;
  flex-grow: 1;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.Table__chair {
  width: 45px;
  height: 45px;
  margin: 10px;
  background-image: url('img/chair.png');
  background-size: cover;
}

.Table__chair_busy {
  background-image: url('img/chair_disabled.png');
}